table {
    border-collapse: collapse;
    margin-top: 20px;
    width: calc(100% - 300px);
}

table, th, td {
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #222;
}

th {
    height: 50px;
    width: 15%;
}

td {
    height: 35px;
    padding-left: 10px;
}

div {
    margin-top: 75px;
    margin-bottom: 50px;
}