command-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #114B5F;
    top: 0;
    width: 300px;
    height: 100%;
    left: 0;
    margin-top: 50px;
    border-top: solid #181a1b 1px;
    position: fixed;
}

command-menu li {
    display: block;
    color: #eee;
    padding: 20px 36px;
    text-decoration: none;
    width: 75%;
    font-size: 20px;
}

command-menu li:hover {
    background-color: #181a1b;
    width: 230px;
}

p {
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
}

div {
    margin-left: 300px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin-left: 300px;
    margin-top: 20px;
    width: calc(100% - 300px);
}

table, th, td {
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #222;
}

th {
    height: 50px;
    width: 15%;
}

#description {
    width: 55%;
}

#descriptionSmall {
    width: 50%;
}

#small {
    width: 5%;
}

td {
    height: 35px;
    padding-left: 10px;
}

#intro {
    margin-left: 350px;
    margin-top: 75px;
    font-size: 18px;
}