div {
    margin-top: 100px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 25px;
}

h3 {
    border: 1px solid #ddd;
    padding: 7px 20px;
    background-color: #222;
}

h3:hover {
    cursor: pointer;
}

.right {
    float: right;
}