div {
    margin-top: 75px;
    margin-bottom: 50px;
}

body > span {
    width: 300px;
    height: 500px;
    border: 1px grey solid;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

#galleryContainer {
    display: flex;
    flex-wrap: wrap;
}

#galleryContainer > div {
    flex: 1 1 0;
    width: 0;
}

#galleryContainer span {
    padding: 15px;
}

.hidden {
    visibility: hidden;
}

span > img {
    max-width: 300px;
    max-height: 500px;
    object-fit: contain;
}

#popup img {
    max-width: 80%;
    max-height: 80vh;
}

.button {
    text-decoration: none;
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    padding: 10px;
}

#contributeInfo {
    position: absolute;
    bottom: 0;
}

.nsfw {
    filter: blur(50px);
    pointer-events: none;
}