body {
    padding-top: 5em;
}

body > span {
    width: 300px;
    height: 500px;
    border: 1px grey solid;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
}

#galleryContainer {
    display: flex;
    flex-flow: wrap;
}

#galleryContainer > div {
    flex: 1 1 0;
    width: 0;
}

#galleryContainer span {
    padding: 15px;
}

.hidden {
    display: none;
}

span > img {
    max-width: 300px;
    max-height: 500px;
    object-fit: contain;
}

#popup img {
    max-width: 80%;
    max-height: 80vh;
}

#contributeInfo {
    position: absolute;
    bottom: 0;
}

.nsfw {
    filter: blur(50px);
    pointer-events: none;
}

#popupImages {
    margin-top: 2em;
}

.button {
    margin: 0;
    width: 150px;
}

@media (max-width: 1000px) {
    body {
        text-align: center;
    }

    #galleryContainer {
        flex-direction: column-reverse;
    }

    #galleryContainer > div {
        width: 100%;
    }
}