#intro {
    font-size: 60px;
    text-align: center;
    margin-top: 120px;
}

#intro-sub {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

#intro-menu {
    text-align: center;
}

.button {
    background-color: #114B5F;
    border: none;
    color: #eee;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

a:not(.button) {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: rgb(82, 94, 167);
}

a:not(.button):hover {
    color: #EF6480;
    border-bottom-color: transparent;
}

#invite-button {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 22px;
}

#button-group {
    display: inline-block;
    margin-top: 50px;
}

#sanara {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
}

#sanara span {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transform: translate(-30px, -50px);
}

#sanara:hover span {
    visibility: visible;
}

#sanara-img {
    height: 150px;
}

table {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    table-layout: fixed;
    background-color: #151515;
}

th {
    width: 33%;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

th span {
    font-size: 30px;
}

th a {
    text-decoration: none;
}

.red {
    background-color: rgb(170, 52, 52);
}