#intro {
    font-size: 60px;
    text-align: center;
    margin-top: 125px;
}

#intro-sub {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

#intro-menu {
    text-align: center;
}

.button {
    background-color: #114B5F;
    border: none;
    color: #eee;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
}

#invite-button {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 22px;
}

#sanara {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
}

#sanara span {
    visibility: hidden;
    width: 120px;
    background-color: #111;
    color: #eee;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transform: translate(-30px, -50px);
}

#sanara:hover span {
    visibility: visible;
}

#sanara-img {
    height: 150px;
}

table {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    table-layout: fixed;
    background-color: #151515;
}

th {
    width: 33%;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

span {
    font-size: 30px;
}

th a {
    text-decoration: none;
}