.columns {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.col-full {
    width: 95%;
}

.col-half {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.col-half > div {
    width: 50%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

text {
    fill: #eee;
}

g>g>path[fill="#ffffff"] {
    fill: #181a1b;
}

rect[fill="#cccccc"] {
    fill: #333;
}